In [26]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [27]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Manado,1.4870,124.8455,90.37,58,20,3.44,ID,2022-01-26 01:35:13
1,1,Esperance,-33.8667,121.9000,69.64,75,89,13.33,AU,2022-01-26 01:35:14
2,2,Sinnamary,5.3833,-52.9500,76.23,87,71,9.06,GF,2022-01-26 01:35:14
3,3,Arraial Do Cabo,-22.9661,-42.0278,75.72,90,0,17.85,BR,2022-01-26 01:34:39
4,4,Mar Del Plata,-38.0023,-57.5575,76.08,98,100,11.01,AR,2022-01-26 01:31:46

In [28]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [29]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [30]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [58]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=5)
fig.add_layer(heat_layer)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [47]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Sinnamary,5.3833,-52.9500,76.23,87,71,9.06,GF,2022-01-26 01:35:14
3,3,Arraial Do Cabo,-22.9661,-42.0278,75.72,90,0,17.85,BR,2022-01-26 01:34:39
4,4,Mar Del Plata,-38.0023,-57.5575,76.08,98,100,11.01,AR,2022-01-26 01:31:46
15,15,Hilo,19.7297,-155.0900,78.53,69,100,6.91,US,2022-01-26 01:30:54
16,16,Isangel,-19.5500,169.2667,85.96,70,14,4.90,VU,2022-01-26 01:34:08
19,19,Tautira,-17.7333,-149.1500,87.82,77,66,14.70,PF,2022-01-26 01:35:19
20,20,Kismayo,-0.3582,42.5454,77.23,78,52,19.24,SO,2022-01-26 01:35:20
22,22,Merauke,-8.4667,140.3333,85.32,69,99,5.68,ID,2022-01-26 01:35:20
28,28,Rikitea,-23.1203,-134.9692,78.28,76,100,15.88,PF,2022-01-26 01:35:23
33,33,Noumea,-22.2763,166.4572,85.98,99,85,10.83,NC,2022-01-26 01:35:24

In [48]:
preferred_cities_df.count()

City_ID       140
City          140
Lat           140
Lng           140
Max Temp      140
Humidity      140
Cloudiness    140
Wind Speed    140
Country       140
Date          140
dtype: int64

In [49]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2         Sinnamary      GF     76.23   5.3833  -52.9500
3   Arraial Do Cabo      BR     75.72 -22.9661  -42.0278
4     Mar Del Plata      AR     76.08 -38.0023  -57.5575
15             Hilo      US     78.53  19.7297 -155.0900
16          Isangel      VU     85.96 -19.5500  169.2667
19          Tautira      PF     87.82 -17.7333 -149.1500
20          Kismayo      SO     77.23  -0.3582   42.5454
22          Merauke      ID     85.32  -8.4667  140.3333
28          Rikitea      PF     78.28 -23.1203 -134.9692
33           Noumea      NC     85.98 -22.2763  166.4572

In [50]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [62]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [63]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Sinnamary,GF,76.23,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
3,Arraial Do Cabo,BR,75.72,-22.9661,-42.0278,Pousada Porto Praia
4,Mar Del Plata,AR,76.08,-38.0023,-57.5575,Gran Hotel Mar del Plata
15,Hilo,US,78.53,19.7297,-155.0900,Hilo Hawaiian Hotel
16,Isangel,VU,85.96,-19.5500,169.2667,Tanna Lodge

In [64]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [65]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))