In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Atuona,-9.8000,-139.0333,77.23,80,29,14.54,PF,light rain
1,1,Cape Town,-33.9258,18.4232,69.12,74,0,8.01,ZA,clear sky
2,2,Castro,-24.7911,-50.0119,60.46,98,100,5.75,BR,overcast clouds
3,3,Linxia,35.6003,103.2064,8.04,84,23,2.62,CN,few clouds
4,4,Butaritari,3.0707,172.7902,81.70,77,25,19.64,KI,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Atuona,-9.8000,-139.0333,77.23,80,29,14.54,PF,light rain
1,1,Cape Town,-33.9258,18.4232,69.12,74,0,8.01,ZA,clear sky
2,2,Castro,-24.7911,-50.0119,60.46,98,100,5.75,BR,overcast clouds
4,4,Butaritari,3.0707,172.7902,81.70,77,25,19.64,KI,light rain
6,6,Port Elizabeth,-33.9180,25.5701,69.10,77,75,11.50,ZA,broken clouds
7,7,Mahebourg,-20.4081,57.7000,80.89,78,40,8.05,MU,scattered clouds
8,8,Pitimbu,-7.4706,-34.8086,82.99,74,83,7.07,BR,light rain
10,10,San Policarpo,12.1791,125.5072,78.96,84,22,4.94,PH,few clouds
19,19,Busselton,-33.6500,115.3333,67.05,91,2,15.19,AU,clear sky
22,22,Kapaa,22.0752,-159.3190,77.32,79,100,1.01,US,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                348
City                   348
Lat                    348
Lng                    348
Max Temp               348
Humidity               348
Cloudiness             348
Wind Speed             348
Country                344
Current Description    348
dtype: int64

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df =  preferred_cities_df.dropna()
clean_df.count()

City_ID                344
City                   344
Lat                    344
Lng                    344
Max Temp               344
Humidity               344
Cloudiness             344
Wind Speed             344
Country                344
Current Description    344
dtype: int64

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Atuona,PF,77.23,light rain,-9.8000,-139.0333,
1,Cape Town,ZA,69.12,clear sky,-33.9258,18.4232,
2,Castro,BR,60.46,overcast clouds,-24.7911,-50.0119,
4,Butaritari,KI,81.70,light rain,3.0707,172.7902,
6,Port Elizabeth,ZA,69.10,broken clouds,-33.9180,25.5701,
7,Mahebourg,MU,80.89,scattered clouds,-20.4081,57.7000,
8,Pitimbu,BR,82.99,light rain,-7.4706,-34.8086,
10,San Policarpo,PH,78.96,few clouds,12.1791,125.5072,
19,Busselton,AU,67.05,clear sky,-33.6500,115.3333,
22,Kapaa,US,77.32,overcast clouds,22.0752,-159.3190,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

Hotel not found... skipping.

In [ ]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

In [ ]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure